:root {
    --square_size: 25px;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    overflow: hidden;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--square_size));
    grid-template-rows: repeat(auto-fit, var(--square_size));
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.square {
    width: var(--square_size);
    height: var(--square_size);
    background-color: #555;
    border: 1px solid #444;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    color: white;
    font-size: 16px;
}
.link {
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
#ball {
    position: absolute;
}
#bar {
    position: absolute;
    touch-action: none; /* Prevent default touch gestures like scrolling */
}
